* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Light"; /* Гарнитура шрифта */
  src: url("fonts/Montserrat/Montserrat-Light.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url("fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Blacker Display";
  src: url("fonts/BlackerDisplay/BlackerDisplay-Light.ttf");
}

html {
  -webkit-text-size-adjust: 100%;
}

div,
p,
h1 {
  color: #5371ab;
}

p {
  font-family: "Montserrat-Light", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
}

div.orange div,
div.orange p,
div.orange h1 {
  color: #fff;
}

h1 {
  font-family: "Blacker Display";
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  text-align: center;
}

h2 {
  font-family: "Montserrat-Semibold";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
}

/*////////////////////////////////////////////////////////////*/

.fourth-container {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.fourth-double {
  display: flex;
  flex-direction: column;
  /*flex: 1 1 auto;*/
  align-items: center;
}

.fourth-single {
  flex: 1 1 auto;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}

.fourth-single > p {
  width: 250px;
}
.fourth-single > h2 {
  width: 280px;
}

.fourth-single > img,
.fourth-single > p,
.fourth-single > h2 {
  text-align: center;
  margin: 0px auto;
}

.fourth-single > p {
  font-size: 13px;
  line-height: 16px;
}

.fourth-single > h2 {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
}

@media screen and (max-width: 800px) {
  .fourth-container {
    flex-flow: column nowrap;
    align-items: stretch;
  }

  .fourth-double {
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-evenly;
  }

  .fourth-single {
    flex: 0 0 150px;
  }
}

/*
@media screen and (max-width: 480px) {
  .fourth-single > p,
  .fourth-single > h2 {
    width: 100px;
  }

  .fourth-single > p {
    font-size: 4.94187px;
    line-height: 6px;
  }

  .fourth-single > h2 {
    font-size: 7.22274px;
    line-height: 9px;
  }

  .fourth-single > img {
    width: 40px;
  }
}


*/
