.fourteenth {
  /* min-height: 500px; */
  margin: 0;
}

.content > div:last-child {
  margin: 0;
}

.fourteenth-container {
  display: flex;
  flex-flow: row nowrap;
  min-height: 400px;
}

.fourteenth-contacts {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fourteenth-map {
  flex: 1 1 60%;
}

.fourteenth-map > iframe {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.fourteenth-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
}

.fourteenth-text > h1 {
  margin: 0px;
}

@media screen and (max-width: 600px) {
  .fourteenth-container {
    display: flex;
    flex-flow: row wrap;
  }

  .fourteenth-contacts {
    flex: 1 0 100%;
  }

  .fourteenth-map {
    flex: 1 0 100%;
    min-height: 200px;
  }
}
