.fourth-container {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.fourth-double {
  display: flex;
  flex-direction: column;
  /*flex: 1 1 auto;*/
  align-items: center;
}

.fourth-single {
  flex: 1 1 auto;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}

.fourth-single > p {
  width: 250px;
}
.fourth-single > h2 {
  width: 280px;
}

.fourth-single > img,
.fourth-single > p,
.fourth-single > h2 {
  text-align: center;
  margin: 0px auto;
}

.fourth-single > p {
  font-size: 13px;
  line-height: 16px;
}

.fourth-single > h2 {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
}

@media screen and (max-width: 800px) {
  .fourth-container {
    flex-flow: column wrap;
    align-items: stretch;
  }

  .fourth-double {
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-evenly;
  }

  .fourth-single {
    flex: 0 0 150px;
  }
}

@media screen and (max-width: 480px) {
  .fourth-single {
    flex: 0 0 100%;
  }
}
