@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Blacker Display';
    src: url('fonts/BlackerDisplay/BlackerDisplay-Light.ttf');
}

div#anketa{
    width: 40%;
    position: relative;
    left: 50%;
    margin: 0% -20%;
    color: #5371AB;
}

div#anketa > div{
    position: relative;
    width: 100%;
}

h1{
    text-align: center;
    font-family: 'Blacker Display';
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
}

div#anketa p, span, label{
    margin-bottom: 0%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #5371AB;
    margin-bottom: 2px;
}

p{
    margin-left: 2%;
}

div#anketa input[type = "text"]{
    border: 1.41552px solid #F8AD4E;
    border-radius: 28.3105px;
    box-sizing: border-box;
    width: 100%;
}




input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: 0px;
    left: -1px;
    position: relative;
    background-color: #FFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #F8AD4E;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: 0px;
    left: -1px;
    position: relative;
    background-color: #F8AD4E;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #F8AD4E;
}

input[type = "submit"]{
    position: relative;
    background: #F8AD4E;
    border-radius: 25px;
    border: 0px;
    font-size: 14px;
    font-family: 'Montserrat-Semibold', sans-serif;
    padding: 10px 40px;
    color: #FFF;
    width: 150px;
    
    left: 50%;
    margin: 0px -75px;
    align-self: center;
}

div#isAlive > div{
    text-align: right;
}

div#button{
    margin-top: 20px;
}



div#soundVariants > div > div{
    position: relative;
    margin-top: 20px;
}

div#soundVariants label{
    width: 90%;
    position: absolute;
    right: 0%;
}