.seventh {
  min-height: 400px;
  display: flex;
  align-items: center;
}
.seventh-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.seventh-text > h1 {
  margin-bottom: 20px;
}

.seventh-text > ul {
  position: relative;
  list-style-image: url("resources/marker.png");
  list-style-position: inside;
  margin: auto;
}

.seventh-text > ul > li {
  font-family: "Montserrat-Light", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 20px;
}

.seventh-container {
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.seventh-img {
  position: relative;
  min-width: 350px;
  margin: auto;
  display: flex;
  height: 300px;
}

.seventh-img > img {
  margin: auto;
  height: 100%;
  width: auto;
}

@media screen and (max-width: 800px) {
  .seventh-container {
    width: 100%;
  }

  .seventh-img {
    width: 100%;
  }
  .seventh-img > img {
    width: 70%;
    height: auto;
  }

  .seventh-text {
    width: 80%;
  }

  .seventh-text > ul {
    text-align: center;
    padding: 0%;
  }
}
