* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Light"; /* Гарнитура шрифта */
  src: url("fonts/Montserrat/Montserrat-Light.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url("fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Blacker Display";
  src: url("fonts/BlackerDisplay/BlackerDisplay-Light.ttf");
}

html {
  -webkit-text-size-adjust: 100%;
}

div,
p,
h1 {
  color: #5371ab;
}

p {
  font-family: "Montserrat-Light", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
}

div.orange div,
div.orange p,
div.orange h1 {
  color: #fff;
}

h1 {
  font-family: "Blacker Display";
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  text-align: center;
}

h2 {
  font-family: "Montserrat-Semibold";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
}

.seventh {
  min-height: 500px;
  display: flex;
  align-items: center;
}
.seventh-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.seventh-text > h1 {
  margin-bottom: 20px;
}

.seventh-text > ul {
  position: relative;
  list-style-image: url("resources/marker.png");
  list-style-position: inside;
  margin: auto;
}

.seventh-text > ul > li {
  font-family: "Montserrat-Light", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 20px;
}

.seventh-container {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.seventh-img {
  min-width: 350px;
  margin: auto;
  display: flex;
}

.seventh-img > img {
  margin: auto;
}

@media screen and (max-width: 800px) {
  .seventh-container {
    width: 100%;
  }

  .seventh-img {
    width: 100%;
  }
  .seventh-img > img {
    width: 70%;
    height: auto;
  }

  .seventh-text {
    width: 80%;
  }

  .seventh-text > ul {
    text-align: center;
    padding: 0%;
  }
}
