.sixth-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 300px;
}

.sixth-down {
  align-self: flex-end;
}

.sixth-block {
  padding-left: 60px;
  margin-right: 20px;
}

#process-anket {
  background-image: url("resources/1.svg");
  background-repeat: no-repeat;
}

#process-anket > img {
  transform: translateX(50px) translateY(-10px);
}

#process-disguss {
  background-image: url("resources/2.svg");
  background-repeat: no-repeat;
}

#process-shoot {
  background-image: url("resources/3.svg");
  background-repeat: no-repeat;
}

#process-shoot > img {
  transform: translateX(-60px);
}

#process-result {
  background-image: url("resources/4.svg");
  background-repeat: no-repeat;
  background-position: center left;
  padding-bottom: 30px;
}

#process-result > img {
  transform: translateX(-70px);
}

@media screen and (max-width: 1200px) {
  div.sixth-block img {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (max-width: 960px) {
  .sixth-container {
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 60%;
  }

  .sixth-block {
    width: 200px;
  }

  .sixth-down {
    align-self: flex-end;
  }
}

@media screen and (max-width: 500px) {
  .sixth-container {
    flex-flow: column nowrap;
    align-items: center;
    width: 80%;
    align-content: stretch;
  }

  .sixth-block {
    width: 80%;
  }

  .sixth-down {
    align-self: center;
  }
}
