* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Light"; /* Гарнитура шрифта */
  src: url("fonts/Montserrat/Montserrat-Light.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url("fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Blacker Display";
  src: url("fonts/BlackerDisplay/BlackerDisplay-Light.ttf");
}

html {
  -webkit-text-size-adjust: 100%;
}

div,
p,
h1 {
  color: #5371ab;
}

p {
  font-family: "Montserrat-Light", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
}

div.orange div,
div.orange p,
div.orange h1 {
  color: #fff;
}

h1 {
  font-family: "Blacker Display";
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  text-align: center;
}

h2 {
  font-family: "Montserrat-Semibold";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
}

/*1//////////////////////////////////////*/
div#main {
  position: relative;
}

div#first {
  min-height: 800px;
  position: relative;
  display: flex;
}

div#bgfirst {
  position: relative;
  min-height: 800px;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(248, 173, 78, 0.22),
      rgba(248, 173, 78, 0.22)
    ),
    url("resources/MainBack.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

div.orange {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(162, 105, 73, 0.5);
}

.menu {
  position: relative;
  left: 50%;
  top: 5%;
  margin: 0px -35%;
  width: 70%;
  display: table; /*Блок меню - таблица*/
  margin-top: 0.5%; /* Движение всего блока меню вверх-вниз*/
}
.menu ul {
  display: table-row; /* ориентаиция ul как ряд в таблице*/
}
.menu li {
  display: table-cell; /* ориентация элемента меню как клетку таблицы*/

  height: 100%;
}
.menu li a {
  display: block;
  padding: 10% 20%; /* движение надписей в блоке вверх-вниз*/
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}

input[type="button"] {
  position: relative;
  background: #f8ad4e;
  border-radius: 25px;
  border: 0px;
  font-size: 14px;
  font-family: "Montserrat-Semibold", sans-serif;
  color: #fff;
  padding: 17px 52px;
}

input[type="button"]:hover {
  cursor: pointer;
}

div#first input {
  margin: 20px;
}

div#firstContent {
  width: 50%;
  margin: 90px 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div#firstContent p {
  position: relative;
  width: 100%;
  text-align: center;
  top: -5%;
  margin: 0px;
}

@media screen and (max-width: 1400px) {
  div#bgfirst {
    background-size: 140%;
  }
}

@media screen and (max-width: 1000px) {
  div#bgfirst {
    background-size: 200%;
  }
}

@media screen and (max-width: 800px) {
  div#bgfirst {
    background-size: 240%;
  }
}

@media screen and (max-width: 600px) {
  div#bgfirst {
    background-size: 280%;
    background-position-x: 40%;
  }

  .menu {
    position: absolute;
    visibility: hidden;
  }
}

@media screen and (max-width: 480px) {
  div#bgfirst {
    background-size: 360%;
    background-position-x: 40%;
  }
}

/*2//////////////////////////////////////////////////*/

div#second {
  width: 100%;
  position: relative;
  min-height: 155px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#frase {
  position: relative;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 10px;
  font-family: "Blacker Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 128.6%;
  text-align: center;
  color: #5371ab;
}

div.line {
  border: 1px solid #f8ad4e;
  width: 100%;
  height: 0px;
  margin: 0% -50%;

  position: relative;
  top: 30%;
  left: 50%;
}

div.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #f8ad4e;
  background-color: rgba(256, 256, 256, 1);

  position: relative;
  left: 50%;
  top: 30%;
  margin: -8px -5px;
}

.frase-decoration {
  width: 80%;
}

@media screen and (max-width: 600px) {
  #frase {
    font-size: 27px;
  }
}

/*3//////////////////////////////////////////////////*/

/*4//////////////////////////////////////////////////*/

/*5//////////////////////////////////////////////////*/

/*6//////////////////////////////////////////////////*/

/*7//////////////////////////////////////////////////*/

/*8//////////////////////////////////////////////////*/

/*9//////////////////////////////////////////////////*/

div#ninth {
  height: 625px;
  position: relative;
  margin: 0%;
}

div#questions {
  width: 70%;
  position: relative;
  left: 50%;
  margin: 0% -35%;
}

div#ninth > div > div {
  border: 2px solid #f8ad4e;
  box-sizing: border-box;
  border-radius: 33.1624px;
  padding: 3px 20px;
  margin-bottom: 20px;
  position: relative;
}

div#ninth p {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

div.plusVertical {
  width: 0px;
  height: 17px;
  border: 1px solid #f8ad4e;
  position: absolute;
  right: 30px;
  top: 50%;
  margin: -8.5px 0px;
}

div.plusHorizontal {
  height: 0px;
  width: 17px;
  border: 1px solid #f8ad4e;
  position: absolute;
  right: 30px;
  top: 50%;
  margin: 0px -8.5px;
}

@media screen and (max-width: 600px) {
  div#ninth p {
    font-size: 12px;
  }
}

/*10//////////////////////////////////////////////////*/

/*11//////////////////////////////////////////////////*/

/*12//////////////////////////////////////////////////*/

/*13//////////////////////////////////////////////////*/

/*14//////////////////////////////////////////////////*/

div#fourteenth {
  height: 535px;
  position: relative;
  top: 0%;
  margin-top: 200px;
}

div#fourteenthcontent {
  position: relative;
  top: 0%;
  left: 0%;
  width: 40%;
  height: 100%;
}

div#contacts {
  position: relative;
  width: 70%;
  height: 60%;
  left: 50%;
  top: 25%;
  margin: -35%;
  text-align: center;
}
div#contacts > p {
  position: relative;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #5371ab;
  padding-left: 5%;
}
div#contacts > h1 {
  font-family: Blacker Display;
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  line-height: 128.6%;
  color: #5371ab;
}

div#contacts > a {
  position: relative;
  left: 20%;
  margin-left: 5%;
}

div#map {
  position: absolute;
  height: 100%;
  width: 60%;
  right: 0%;
  top: 0%;
}
div#map > iframe {
  width: 100%;
  height: 100%;

  position: relative;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 10px;
  }

  h1 {
    font-size: 27px;
  }
}
