* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Light"; /* Гарнитура шрифта */
  src: url("fonts/Montserrat/Montserrat-Light.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url("fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Blacker Display";
  src: url("fonts/BlackerDisplay/BlackerDisplay-Light.ttf");
}

html {
  -webkit-text-size-adjust: 100%;
}

div,
p,
h1 {
  color: #5371ab;
}

p {
  font-family: "Montserrat-Light", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
}

div.orange div,
div.orange p,
div.orange h1 {
  color: #fff;
}

h1 {
  font-family: "Blacker Display";
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  text-align: center;
}

h2 {
  font-family: "Montserrat-Semibold";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
}

/*1//////////////////////////////////////*/
div#main {
  position: relative;
  width: 100%;
  margin: 0%;
}

div#first {
  height: 800px;
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0%;
}

div#bgfirst {
  background-image: url("resources/MainBack.jpg");
  position: absolute;
  height: 800px;
  width: 100%;
  align-content: center;
  background: linear-gradient(
      0deg,
      rgba(248, 173, 78, 0.22),
      rgba(248, 173, 78, 0.22)
    ),
    url("resources/MainBack.jpg");
}

div.orange {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(162, 105, 73, 0.5);
}

.menu {
  position: relative;
  left: 50%;
  top: 5%;
  margin: 0px -35%;
  width: 70%;
  display: table; /*Блок меню - таблица*/
  margin-top: 0.5%; /* Движение всего блока меню вверх-вниз*/
}
.menu ul {
  display: table-row; /* ориентаиция ul как ряд в таблице*/
}
.menu li {
  display: table-cell; /* ориентация элемента меню как клетку таблицы*/

  height: 100%;
}
.menu li a {
  display: block;
  padding: 10% 20%; /* движение надписей в блоке вверх-вниз*/
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}

input[type="button"] {
  position: relative;
  background: #f8ad4e;
  border-radius: 25px;
  border: 0px;
  font-size: 14px;
  font-family: "Montserrat-Semibold", sans-serif;
  color: #fff;
  padding: 17px 52px;
}

input[type="button"]:hover {
  cursor: pointer;
}

div#firstContent {
  width: 50%;
  margin: 90px 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*div#firstContent > img {
  position: relative;
  left: 50%;
  top: 5%;
  margin: 0% -15%;
}*/

div#firstContent p {
  position: relative;
  width: 80%;
  text-align: center;
  top: -5%;
}

/*2//////////////////////////////////////////////////*/

div#second {
  width: 100%;
  position: relative;
  height: 155px;
  align-content: center;
  margin: 0%;
}

div#frase {
  position: relative;
  width: 853px auto;
  margin-top: 28px;
  font-family: "Blacker Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 128.6%;
  text-align: center;
  color: #5371ab;
}

div.line {
  border: 1px solid #f8ad4e;
  width: 35%;
  height: 0px;
  margin: 0% -17.5%;

  position: relative;
  top: 30%;
  left: 50%;
}

div.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #f8ad4e;
  background-color: rgba(256, 256, 256, 1);

  position: relative;
  left: 50%;
  top: 30%;
  margin: -8px -5px;
}

/*3//////////////////////////////////////////////////*/

div#third {
  position: relative;
  margin: 0%;
  width: 100%;
}

div#aboutProjBackImg {
  width: 100%;

  background-image: url("resources/Frame8.jpg");
  background-size: 90%;
}

div#contentAboutProj {
  margin: 5% 5% auto;
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

div#aboutProj {
  width: 35%;
  height: 70%;
}

div#aboutProjVideo {
  height: 50%;
  width: 40%;
}

div#aboutProjVideo > iframe {
  height: 100%;
  width: 100%;
}

div#aboutProj > p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/*



div#aboutProj > h1 {
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1%;
  margin-top: 0%;
}









*/

/*4//////////////////////////////////////////////////*/

/*5//////////////////////////////////////////////////*/

/*6//////////////////////////////////////////////////*/

/*7//////////////////////////////////////////////////*/

/*8//////////////////////////////////////////////////*/

div#eighth {
  height: 390px;
  position: relative;
  margin: 0%;
}

div#eighth h1 {
  margin-bottom: 0px;
}

div#eighth > div {
  width: 50%;
  height: 100%;
  position: relative;
  left: 50%;
  margin: 0% -25%;
}

div#eighth div {
  text-align: center;
}

div#eighthText {
  margin-top: 5%;
}

div#prices {
  position: relative;
  margin: 5% 0%;
}

div#eighth table {
  width: 90%;
  position: relative;
  left: 50%;
  margin: 0% -45%;
}

td#fullPrice {
  width: 40%;
}

td#fullPrice div {
  height: 100%;
  width: 100%;
  position: relative;
}

td#fullPrice > div div {
  position: relative;
  margin: 0% -50%;
}

div#eighth table p {
  margin: 10px 0px;
}

div#eighth table p > span {
  color: #f8ad4e;
  margin: 0px 20px;
  align-content: center;
  font-family: "Blacker Display";
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}

td#fullPrice > div > p > span {
  width: 270px;
  font-family: "Blacker Display";
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 60px;
  margin: 0px;
  /* identical to box height */

  text-transform: uppercase;
}

/*9//////////////////////////////////////////////////*/

div#ninth {
  height: 625px;
  position: relative;
  margin: 0%;
}

div#questions {
  width: 70%;
  position: relative;
  left: 50%;
  margin: 0% -35%;
}

div#ninth > div > div {
  border: 2px solid #f8ad4e;
  box-sizing: border-box;
  border-radius: 33.1624px;
  padding: 3px 20px;
  margin-bottom: 20px;
  position: relative;
}

div#ninth p {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

div.plusVertical {
  width: 0px;
  height: 17px;
  border: 1px solid #f8ad4e;
  position: absolute;
  right: 30px;
  top: 50%;
  margin: -8.5px 0px;
}

div.plusHorizontal {
  height: 0px;
  width: 17px;
  border: 1px solid #f8ad4e;
  position: absolute;
  right: 30px;
  top: 50%;
  margin: 0px -8.5px;
}

/*10//////////////////////////////////////////////////*/

div#tenth {
  position: relative;
  height: 320px;
  width: 100%;

  background-image: url("resources/OstalisVoprosyBG.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 46px;
  margin: 0%;
}
#tenthcontent {
  position: relative;
  margin-left: 15%;
  width: 70%;
  height: 100%;
}
#tenthcontent > h1 {
  text-align: center;
  color: #5371ab;
}
#tenthcontent > p {
  margin-top: -3%;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #5371ab;
}
#tenthform {
  position: relative;
  left: 10%;
  top: 25%;
}
#name {
  left: 20%;
  width: 260px;
  height: 50px;
  background: #ffffff;
  border: 1.67356px solid #5371ab;
  box-sizing: border-box;
  border-radius: 33.4712px;
  outline: none;
  padding: 0 15px;
}
#telephone {
  width: 260px;
  height: 50px;
  background: #ffffff;
  border: 1.67356px solid #5371ab;
  box-sizing: border-box;
  border-radius: 33.4712px;
  outline: none;
  padding: 0 15px;
}
#submit {
  width: 190px;
  height: 50px;
  background: #f8ad4e;
  border-radius: 25.1034px;
  outline: none;
}

/*11//////////////////////////////////////////////////*/

/*12//////////////////////////////////////////////////*/

div#twelfth {
  min-height: 700px;
  position: relative;
  margin: 0%;
}

div#bgtwelf {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("resources/12fon.png");
  background-repeat: no-repeat;
  background-position: center;
}
div#twelfcontent {
  position: relative;
  height: 50%;
  width: 50%;
  position: relative;
  left: 25%;
  top: 20%;

  align-content: center;
}
#twelfcontent > h1 {
  position: relative;
  top: 0%;
  color: #5371ab;
  margin-bottom: 1%;
}
#twelfcontent > div {
  position: relative;
  height: 25%;
  width: 100%;
  top: 0%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
}

/*13//////////////////////////////////////////////////*/

div#thirteenth {
  height: 535px;
  position: relative;
  margin: 0%;
}

div#otzyvy {
  position: relative;

  width: 80%;
  height: 80%;
  margin: auto;
}

div#firstotzyv > p,
div#secondotzyv > p,
div#thirdotzyv > p {
  text-align: center;
}
div#firstotzyv > h2,
div#secondotzyv > h2,
div#thirdotzyv > h2 {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;

  color: #5371ab;
}
div#firstotzyv > img,
div#secondotzyv > img,
div#thirdotzyv > img {
  position: relative;

  display: block;
  margin: auto;
  width: 77px;
  height: 77px;
  border-radius: 10%;
}
div#firstotzyv {
  position: relative;
  width: 24%;
  height: 60%;
  left: 10%;
}
div#secondotzyv {
  position: absolute;
  margin: 0% -12%;
  height: 60%;
  width: 24%;
  left: 50%;
  top: 0%;
}
div#thirdotzyv {
  position: absolute;
  width: 24%;
  height: 60%;
  right: 10%;
  top: 0%;
}

input[type="range"] {
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 3px;
  border: 1px solid #f8ad4e;
  background-color: #f8ad4e;
}
input[type="range"]::-webkit-slider-thumb {
  background: #f8ad4e;

  border-radius: 40px;
  cursor: pointer;
  width: 8px;
  height: 8px;
  -webkit-appearance: none;
  margin-top: -4px;
}
div#slider {
  position: relative;
  width: 50%;
  height: 10%;
  top: 10%;
  left: 50%;
  margin: 0% -25%;
}

div#slider > p {
  font-size: 18px;
  line-height: 128.6%;
  /* or 23px */

  text-align: center;

  color: #5371ab;
}

@media screen and (max-width: 500px) {
  #firstotzyv,
  #thirdotzyv {
    visibility: hidden;
  }
}

/*14//////////////////////////////////////////////////*/

div#fourteenth {
  height: 535px;
  position: relative;
  top: 0%;
  margin-top: 200px;
}

div#fourteenthcontent {
  position: relative;
  top: 0%;
  left: 0%;
  width: 40%;
  height: 100%;
}

div#contacts {
  position: relative;
  width: 70%;
  height: 60%;
  left: 50%;
  top: 25%;
  margin: -35%;
  text-align: center;
}
div#contacts > p {
  position: relative;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #5371ab;
  padding-left: 5%;
}
div#contacts > h1 {
  font-family: Blacker Display;
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  line-height: 128.6%;
  color: #5371ab;
}

div#contacts > a {
  position: relative;
  left: 20%;
  margin-left: 5%;
}

div#map {
  position: absolute;
  height: 100%;
  width: 60%;
  right: 0%;
  top: 0%;
}
div#map > iframe {
  width: 100%;
  height: 100%;

  position: relative;
}
