* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Light"; /* Гарнитура шрифта */
  src: url("fonts/Montserrat/Montserrat-Light.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url("fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Blacker Display";
  src: url("fonts/BlackerDisplay/BlackerDisplay-Light.ttf");
}

html {
  -webkit-text-size-adjust: 100%;
}

div,
p,
h1 {
  color: #5371ab;
}

p {
  font-family: "Montserrat-Light", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
}

div.orange div,
div.orange p,
div.orange h1 {
  color: #fff;
}

h1 {
  font-family: "Blacker Display";
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  text-align: center;
}

h2 {
  font-family: "Montserrat-Semibold";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
}

input[type="button"] {
  position: relative;
  background: #f8ad4e;
  border-radius: 25px;
  border: 0px;
  font-size: 14px;
  font-family: "Montserrat-Semibold", sans-serif;
  color: #fff;
  padding: 17px 52px;
}

input[type="button"]:hover {
  cursor: pointer;
}

div#main {
  position: relative;
}

.content > div {
  margin: 50px 0px;
}

div.first {
  margin-top: 0px;
}
div#second {
  margin: 0px;
}

/*1//////////////////////////////////////*/

/*2//////////////////////////////////////////////////*/

div#second {
  width: 100%;
  position: relative;
  min-height: 155px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 350px;
}

#frase {
  position: relative;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 10px;
  font-family: "Blacker Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 128.6%;
  text-align: center;
  color: #5371ab;
}

div.line {
  border: 1px solid #f8ad4e;
  background-color: #f8ad4e;
  width: 100%;
  height: 0px;
  margin: 0% -50%;

  position: relative;
  top: 30%;
  left: 50%;
}

div.line-answer {
  border: 1px solid #f8ad4e;
  background-color: #f8ad4e;
  width: 100%;
  height: 0px;
  margin: 0% -50%;

  position: relative;
  top: 30%;
  left: 50%;
}

div.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #f8ad4e;
  background-color: rgba(256, 256, 256, 1);

  position: relative;
  left: 50%;
  top: 30%;
  margin: -8px -5px;
}

.frase-decoration {
  width: 80%;
}

@media screen and (max-width: 600px) {
  #frase {
    font-size: 27px;
  }
}

/*3//////////////////////////////////////////////////*/

/*4//////////////////////////////////////////////////*/

/*5//////////////////////////////////////////////////*/

/*6//////////////////////////////////////////////////*/

/*7//////////////////////////////////////////////////*/

/*8//////////////////////////////////////////////////*/

/*9//////////////////////////////////////////////////*/

div#ninth {
  position: relative;
  margin: 0%;
}

div#questions {
  width: 70%;
  position: relative;
  left: 50%;
  margin: 0% -35%;
}

div#ninth > div > div {
  border: 2px solid #f8ad4e;
  box-sizing: border-box;
  border-radius: 33.1624px;
  padding: 3px 20px;
  margin-bottom: 20px;
  position: relative;
}

div#ninth p {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

.plus {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 25px;
  top: 30px;
  margin: -9px 0px;
}

.plus:hover {
  cursor: pointer;
}

.plus-rotate {
  transform: rotateZ(45deg);
  transition-duration: 400ms;
}

div.plus-blue {
  border: 1px solid #5371ab;
  background-color: #5371ab;
}

.plusVertical {
  width: 2px;
  height: 100%;
  border: 1px solid #f8ad4e;
  background-color: #f8ad4e;
  position: absolute;
  left: 8px;
}

.plusHorizontal {
  height: 2px;
  width: 100%;
  border: 1px solid #f8ad4e;
  background-color: #f8ad4e;
  position: absolute;
  top: 8px;
}

@media screen and (max-width: 600px) {
  div#ninth p {
    font-size: 12px;
  }

  div#questions {
    width: 90%;
    position: relative;
    left: 50%;
    margin: 0% -45%;
  }

  .plus {
    right: 15px;
    top: 25px;
  }
}

/*10//////////////////////////////////////////////////*/

/*11//////////////////////////////////////////////////*/

/*12//////////////////////////////////////////////////*/

/*13//////////////////////////////////////////////////*/

/*14//////////////////////////////////////////////////*/

/*/////////////////////////////////////*/

@media screen and (max-width: 600px) {
  p {
    font-size: 12px;
  }

  h1 {
    font-size: 27px;
  }
}
