/*////////////////////////////////////////////////////////////*/
.third {
  position: relative;
  min-height: 700px;
  position: relative;
  background-image: url("resources/Thirdbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third-text > p {
  text-align: center;
  padding: 0px 20px;
  margin: 0;
  line-height: 25px;
  padding: 0px;
  color: #fff;
}

.third-text > h1 {
  margin-bottom: 20px;
  color: #fff;
}

.third-content {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: center;
}

.third-video > iframe {
  width: 100%;
  height: 100%;
}

.half {
  flex: 0 1 560px;
  margin: 0px;
}

.third-btn {
  width: 50%;
  margin: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.third-text {
  width: 540px;
  margin-top: 20px;
}

.third-video {
  height: 380px;
  width: 580px;
  margin: 20px 0px;
}

@media screen and (max-width: 800px) {
  .third-content {
    width: 80%;
  }
  .third-video {
    width: 90%;
    height: 250px;
  }

  .third-text {
    width: 100%;
    margin-bottom: 20px;
  }

  .third-btn {
    margin: auto;
  }

  .third-text > p {
    line-height: 20px;
  }
}

@media screen and (max-width: 480px) {
  .third-content {
    width: 90%;
    margin: 10px auto;
  }
  .third-video {
    width: 80%;
    height: 200px;
  }

  .third-text {
    width: 90%;
  }

  .third-btn {
    margin: auto;
  }

  .third-container {
    padding: 0;
  }
  .third-text {
    margin: 0%;
  }

  .third {
    min-height: 800px;
  }

  .third-bg {
    min-height: 800px;
  }
}
