input[type="range"] {
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 3px;
  border: 1px solid #f8ad4e;
  background-color: #f8ad4e;
}
input[type="range"]::-webkit-slider-thumb {
  background: #f8ad4e;

  border-radius: 40px;
  cursor: pointer;
  width: 8px;
  height: 8px;
  -webkit-appearance: none;
  margin-top: -4px;
}

.thirteenth {
  min-height: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.thirteenth-controls > p > input[type="image"] {
  margin: 0px 10px;
}

.thirteenth-container {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.thirteenth-responses {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.thirteenth-response {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  margin: 0px 20px;
}

.thirteenth-response > p {
  text-align: center;
  margin: 10px 0px;
}

.thirteenth-response > h2 {
  margin-bottom: 0;
}

.thirteenth-galery {
  margin: 20px auto;
}
.thirteenth-big-video {
  width: 600px;
  height: 350px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .thirteenth-response {
    width: 250px;
  }
}

@media screen and (max-width: 820px) {
  .thirteenth-response {
    visibility: hidden;
    position: absolute;
    width: 350px;
  }

  .thirteenth-response:first-child {
    visibility: visible;
    position: relative;
  }
}

@media screen and (max-width: 480px) {
  .thirteenth-response {
    width: 300px;
  }
}
