.twelfth {
  min-height: 700px;
  width: 100%;
  height: 100%;
  background-image: url("resources/12fon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.twelfth-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.twelfth-container > h1 {
  margin-bottom: 10px;
  margin-top: 0%;
}

.twelfth-container > p {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .twelfth-container > p {
    font-weight: 300;
    font-size: 11px;
    line-height: 14px;
    margin-top: -2px;
    margin-bottom: 10px;
  }

  .twelfth-container > h1 {
    font-size: 36px;
  }

  .twelfth input[type="button"] {
    font-size: 10px;
    height: 30px;
    width: 150px;
    padding: 10px;
  }

  .twelfth {
    background-size: 120%;
  }
}

@media screen and (max-width: 950px) {
  .twelfth-container > p {
    font-weight: 300;
    font-size: 8px;
    line-height: 12px;
    margin-top: 0px;
  }

  .twelfth-container > h1 {
    font-size: 27px;
  }
}

@media screen and (max-width: 480px) {
  .twelfth {
    background-size: 200%;
  }

  .twelfth-container > p {
    width: 80%;
  }
}
